* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1em/1.85em "Open Sans", "Arial", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  /*color de la barra de fondo*/
}

*::-webkit-scrollbar-thumb {
  background-color: #a1cf2f;
  /*color del manejador*/
}

*::-webkit-scrollbar {
  width: 20px;
  /*ancho del scroll vertical*/
}

body {
  overflow-x: hidden;
}

/*-------menu-------*/
.navbar {
  position: fixed;
  padding: 0;
}

.navbar .nav-link i {
  cursor: pointer;
}

.navbar a {
  font-size: 16px;
}

.navbar .bi {
  color: white;
}

.navbar .bi:hover,
#letra-logo:hover,
.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #a1cf2f;
  transition-delay: 0s;
}

.navbar a.active {
  color: #a1cf2f !important;
}

.navbar .dropdown .active {
  background-color: #212529 !important;
}

.navbar .dropdown-item:hover {
  background-color: #212529 !important;
}
.dropdown-menu {
  width: 50%;
}

/*-------fin menu-------*/
/*-------carrusel-------*/
#carrusel-nosotros {
  position: relative;
  margin-top: 44.49px;
}

.carousel-inner {
  transition: opacity 1s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 449px;
  object-fit: cover;
  overflow: hidden;
}

.carousel-item {
  transition: transform 2.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2.6s;
}

.carousel-caption h1 {
  text-transform: uppercase;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px !important;
  height: 50px !important;
  background-size: 50px 50px !important;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: invert(1);
}
/*-------fin carrusel-------*/
/*-------nosotros-------*/
#nosotros {
  position: relative;
  margin-top: 75px;
  padding: 10px;
}

#texto-largo {
  margin: auto;
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  #nosotros {
    padding: 0px;
  }

  #texto-largo {
    margin: none;
    width: 100%;
    padding: 0xp;
  }
}

.fs-4 {
  color: #a1cf2f;
}

.fs-1 {
  line-height: 1em;
}

#nosotros hr {
  width: 10%;
  margin: auto;
}

/*-------fin nosotros-------*/
/*-------linea del tiempo-------*/
/* contenedor de la linea del tiempo */
.linea-de-tiempo-principal {
  position: relative;
}

/* La línea verde vertical, centrada en el contedor principal  */
.linea-de-tiempo-principal::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #a1cf2f;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Contenedor alrededor del contenido */
.linea-de-tiempo {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Los círculos en la línea de tiempo */
.linea-de-tiempo::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #a1cf2f;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Coloca el contenedor a la izquierda */
.linea-de-tiempo-izquierda {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Coloca el contenedor a la derecha */
.linea-de-tiempo-derecha {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Agregar flechas al contenedor izquierdo (apuntando a la derecha) */
.linea-de-tiempo-izquierda::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #a1cf2f;
}

/* Agregar flechas al contenedor derecho (apuntando a la izquierda) */
.linea-de-tiempo-derecha::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #a1cf2f transparent transparent;
}

/* Fijar el círculo para contenedores en el lado derecho */
.linea-de-tiempo-derecha::after {
  left: -14px;
}

/* pantallas menos de 1024px de ancho */
@media screen and (max-width: 1024px) {
  /* Coloca la línea de tiempo a la izquierda */
  .linea-de-tiempo-principal::after {
    left: 31px;
  }

  /* Contenedores de ancho completo */
  .linea-de-tiempo {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* las flechas apunten hacia la izquierda */
  .linea-de-tiempo::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #a1cf2f transparent transparent;
  }

  /* los círculos estén en el mismo lugar */
  .linea-de-tiempo-izquierda::after,
  .linea-de-tiempo-derecha::after {
    left: 18px;
  }

  .linea-de-tiempo-izquierda::before {
    right: auto;
  }

  /* Hacer que todos los contenedores de la derecha se comporten como los de la izquierda */
  .linea-de-tiempo-derecha {
    left: 0%;
  }
}
.linea-de-tiempo-principal .fw-bold {
  text-transform: uppercase;
}

/*-------fin linea del tiempo-------*/
/*------- dulzura y calidad-------*/
#container-dul-cal #card-dul-cal {
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

#container-dul-cal #card-dul-cal:hover {
  height: 450px;
}

#container-dul-cal #card-dul-cal .imgContainer {
  position: relative;
  width: 250px;
  height: 250px;
  top: -50px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

#container-dul-cal #card-dul-cal .imgContainer img {
  max-width: 100%;
  border-radius: 4px;
}

#container-dul-cal #card-dul-cal .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

#container-dul-cal #card-dul-cal:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 330px) {
  #container-dul-cal #card-dul-cal .imgContainer {
    left: -2px;
  }
}

/*------- fin dulzura y calidad-------*/
/*------- carrusel videos -------*/
#videoCarrusel {
  pointer-events: none;
}
#videoCarrusel iframe:hover {
  filter: none;
}
/*------- fin carrusel videos -------*/
/*------- boton arriba -------*/
#btn-ir-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 5;
  border-radius: 50%;
  background-color: #2b3035;
  border: none;
}

#btn-ir-arriba .bi {
  color: white;
}

#btn-ir-arriba:hover {
  transform: scale(1.2);
}

/*------- fin boton arriba-------*/
/*------- pie de página-------*/
footer .bi-facebook,
footer .bi-instagram,
footer .bi-twitter {
  font-size: 25px;
}

footer .text-white {
  text-decoration: none !important;
}

footer .text-white:hover,
footer h6[FrutaFina] {
  color: #a1cf2f !important;
}

footer .bi-star-fill {
  color: yellow;
  letter-spacing: 5px;
}

/*------- fin pie de página-------*/
/*------- modal contacto -------*/
.modal-header p {
  cursor: default;
}

.form-group .input-group,
.form-group input,
.form-group textarea {
  border: 1px solid #a1cf2f;
  border-radius: 5px;
}

.form-group .input-group,
.form-group .input-group-text {
  background-color: #a1cf2f;
  border: none;
}

.form-group .input-group-text i {
  font-size: 24px;
  transform: scale(1.5);
}

.form-control:focus {
  border-color: #a1cf2f;
  box-shadow: 0 0 0 1px #a1cf2f;
  outline-color: #a1cf2f;
}

.form-group .input-group:hover {
  box-shadow: 0 0 0 3px #a1cf2f;
}
/* botones de todos los formularios*/
.btn-success,
.btn-success:disabled {
  border: 2px solid #a1cf2f;
  background-color: transparent;
  color: #111;
  font-weight: 600;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  box-shadow: none;
  border: 2px solid #a1cf2f !important;
  background-color: #a1cf2f !important;
  color: white !important;
}
.btn-secondary,
.btn-primary {
  border: 2px solid #4a93fe;
  background-color: transparent;
  color: #111;
  font-weight: 600;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  box-shadow: none;
  border: 2px solid #4a93fe !important;
  background-color: #4a93fe !important;
  color: white !important;
}
.btn-danger {
  border: 2px solid red;
  background-color: transparent;
  color: #111;
  font-weight: 600;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  box-shadow: none;
  border: 2px solid red !important;
  background-color: red !important;
  color: white !important;
}
/* fin botones de todos los formularios*/
/*------- fin modal contacto -------*/
/*------- tema oscuro -------*/
body[data-bs-theme="dark"] #carrusel-nosotros h1,
body[data-bs-theme="dark"] #carrusel-nosotros h3,
body[data-bs-theme="dark"] #container-dul-cal h2,
body[data-bs-theme="dark"] #container-dul-cal p {
  color: white;
}

body[data-bs-theme="dark"] .carousel-control-prev-icon:hover,
body[data-bs-theme="dark"] .carousel-control-next-icon:hover {
  filter: invert(0);
}

body[data-bs-theme="dark"] #modalContacto i {
  color: black;
}

body[data-bs-theme="dark"] .section-personal i,
body[data-bs-theme="dark"] .btn-danger,
body[data-bs-theme="dark"] .btn-primary,
body[data-bs-theme="dark"] .btn-secondary,
body[data-bs-theme="dark"] .btn-success {
  color: white !important;
}

body[data-bs-theme="dark"] .section-personal i:hover {
  color: #a1cf2f !important;
}

body[data-bs-theme="dark"] #btn-back-to-top {
  background-color: #a1cf2f;
}

body[data-bs-theme="dark"] #btn-back-to-top i {
  color: #212529;
}

/* cambiar el color de la segunda capa al momento de pasar a modo oscuro y con resolucion menor a 991px - En el RGBA el valor 1 al final indica que el color es completamente opaco. */
@media (max-width: 991px) {
  body[data-bs-theme="dark"] .section-personal .banner-image-pablo {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
      url(/recursos/imagenes/foto-pablo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  body[data-bs-theme="dark"] .section-personal .banner-image-ignacio {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
      url(/recursos/imagenes/foto-ignacio.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  body[data-bs-theme="dark"] .section-personal .banner-image-alessandro {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
      url(/recursos/imagenes/foto-alessandro.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  body[data-bs-theme="dark"] .section-personal .banner-image-matias {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
      url(/recursos/imagenes/foto-matias.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  body[data-bs-theme="dark"] .section-personal .banner-image-rodrigo {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
      url(/recursos/imagenes/foto-rodrigo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  body[data-bs-theme="dark"] .section-personal .banner-image-leonela {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
      url(/recursos/imagenes/foto-leonela.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  body[data-bs-theme="dark"] .section-personal .banner-image-juan {
    background: linear-gradient(rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.8)),
      url(/recursos/imagenes/foto-juan.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}
/*------- fin tema oscuro -------*/
