* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 1em/1.85em "Open Sans", "Arial", sans-serif;
}

/*------- banner contacto -------*/
#imagen-contacto-card img {
  width: 100%;
  height: 449px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0;
}

#imagen-contacto-card {
  position: relative;
  margin-top: 44.49px;
  border: none;
}

#imagen-contacto-card hr {
  width: 10%;
  margin: auto;
}

/*------- fin banner contacto -------*/
#personal {
  position: relative;
  padding: 10px;
}

/*------- lista de personal contacto -------*/
#indice-personal .list-group-item {
  box-shadow: 0px 0px 0px 2px #a1cf2f inset;
  padding: 5px;
  margin-top: 3px;
  border-radius: 10px;
}

#indice-personal .list-group-item:hover,
#indice-personal .list-group-item:focus {
  background-color: #a1cf2f;
  color: white;
  outline: none;
}

@media (max-width: 250px) {
  #indice-personal .list-group-item {
    font-size: 15px;
    font-weight: 600;
  }

  #contendor-texto-card {
    margin-top: 50px;
  }
}

/*------- fin lista de personal contacto -------*/
/*------- descripcion personal contacto -------*/
.section-personal hr {
  width: 100%;
  margin-top: 10px;
  border: 10px solid #4a93fe;
  background: #4a93fe;
  margin-bottom: 150px;
  border-radius: 4px;
}

#social-personal a i {
  color: black;
  font-size: 50px;
}

#social-personal a i:hover {
  color: #a1cf2f;
}

.banner-image-pablo {
  background-image: url(/recursos/imagenes/foto-pablo.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-image-ignacio {
  background-image: url(/recursos/imagenes/foto-ignacio.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-image-alessandro {
  background-image: url(/recursos/imagenes/foto-alessandro.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-image-matias {
  background-image: url(/recursos/imagenes/foto-matias.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-image-rodrigo {
  background-image: url(/recursos/imagenes/foto-rodrigo.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-image-leonela {
  background-image: url(/recursos/imagenes/foto-leonela.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-image-juan {
  background-image: url(/recursos/imagenes/foto-juan.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (max-width: 991px) {
  .section-personal hr {
    visibility: hidden;
  }

  .banner-image-pablo {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/recursos/imagenes/foto-pablo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .banner-image-ignacio {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/recursos/imagenes/foto-ignacio.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .banner-image-alessandro {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/recursos/imagenes/foto-alessandro.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .banner-image-matias {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/recursos/imagenes/foto-matias.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .banner-image-rodrigo {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/recursos/imagenes/foto-rodrigo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .banner-image-leonela {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/recursos/imagenes/foto-leonela.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .banner-image-juan {
    background: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(/recursos/imagenes/foto-juan.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}

/*------- fin descripcion personal contacto -------*/
